/* header menu start*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: black;
    font-size: 50px;
    font-weight:900;
}

.btn-primary{
color: orange;
border-radius: 7px;
height: 43px;
width: 130px;
font-size: 15px;
color: #fff;
background-color: orange;
border: none;
padding: 14px 33px;
}

.primary{
    color: orange;
}
nav> ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 55px;
}
nav a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}


/* header menu end */
/* main heder start */

.heder{
    background-color: #dcdcdb;
}
.banner{
    margin: 0 150px;
    display: flex;
    align-items: center;
}

.banner-content{
    
}

.banner .profile{
    height: 370px;
    width: 280px;
}






/* main heder end */













